@import url('https://fonts.googleapis.com/css2?family=Londrina+Shadow&display=swap');
/* text*/
@import url('https://fonts.googleapis.com/css2?family=Pirata+One&display=swap');
/* title*/
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
/* title 2 code*/

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px;
  background-color: rgb(19, 19, 19);
  color:white;
}
.titleCode{
  font-family: 'Press Start 2P', cursive;
  font-size: calc(2.375rem + 1.5vw);
  color:rgb(6, 161, 161);
}
.textGothic{
  /*text*/
  font-family: 'Londrina Shadow', cursive;
}
.titleGothic{
  font-family: 'Pirata One', cursive;
  color:#ffffff;
}
div.h1PageTitle{
  border-radius: 20px;
}
div.panelStyle  a{
  text-decoration: none;
  color:aliceblue;
}
div.panelStyle img{
  object-fit:cover;
  height: 10em;
}
div.panelStyle > a.col-xl-4:hover{
  background-color: #484444;
  border-radius: 15px;
  box-shadow: 0px 3px 15px #242424;
  user-select: none;

}
div.h1{
  font-size: calc(5.375rem + 1.5vw);
  box-sizing: border-box;
}
h2.carouselHeader{
  background-color: #838383;
  color:#242323;
}
.hiddenForm{
  /*visibility:collapse;*/
  display:none;
}
img.backIcon{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  z-index: -99999;
  object-fit: cover;
  height: 100%;
}
div.face{
  height: 20%;
  box-sizing: border-box;
  overflow: hidden;
}
