@{
    ViewData["Title"] = "UNITEC SUR";
}
<div>
<label> Buscar un libro</label>
<label for="searchAuthor" class="form-label">autor</label>
<input type="text" id="searchAuthor" class="form-control" aria-describedby="searchbyauthor">
<label for="titleSearch" class="form-label">titulo</label>
<input type="text" id="titleSearch" class="form-control" aria-describedby="searchbyauthor">
</div>