@{
    ViewData["Title"] = "UNITEC SUR";
}
<style>
    div.buttons{
        background-color: rgb(98, 117, 133);
    }
</style>
<div class="h1 titleGothic text-center">
    hello world
</div><!--
<div class='container-fluid'>
    <div class="row justify-content-md-center textGothic fs-1 text-center panelStyle">
        <a class="col-xl-4">generos literarios</a>
        <a class="col-xl-4 " asp-controller="Home" asp-action="Search">buscador</a>
        <a class="col-xl-4 ">autores</a>
    </div>
</div>

<div class='container-fluid'>
    <div class="row justify-content-md-center textGothic fs-1 text-center panelStyle">
        <a class="col-xl-4">generos literarios</a>
        <a class="col-xl-4 " asp-controller="Home" asp-action="Search">buscador</a>
        <a class="col-xl-4 ">autores</a>
    </div>
</div>-->
<div class="container-fluid">
<div class="row justify-content-md-center fs-1 text-center panelStyle">
  <div class="col-sm-4">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <a class="col-xl-4 titleGothic" asp-controller="Home" asp-action="Search"><img class="d-block w-100" src="https://imgs.search.brave.com/xl4NjI9B7x3Qw5R0SyT_wxCog2VOB5MGj_o9K-Uj1Xg/rs:fit:612:612:1/g:ce/aHR0cHM6Ly9tZWRp/YS5pc3RvY2twaG90/by5jb20vdmVjdG9y/cy9vY2N1bHQtc25h/a2UtcG9zdGVyLXZl/Y3Rvci1pZDExNjM1/MjA3OTk_az02Jm09/MTE2MzUyMDc5OSZz/PTYxMng2MTImdz0w/Jmg9TWR5SmpkaFVl/bFlhbVQ4SkpwVWpr/S2NqMW5td2VDbnFf/UTNsckFTSHNtaz0" alt="First slide"></a>
        </div>
        <div class="carousel-item">
          <a class="col-xl-4 titleGothic" asp-controller="Home" asp-action="Search"><img class="d-block w-100" src="https://imgs.search.brave.com/Fev-Jt00jX9DawiM1Xr13n2QXW7CfJQIscTVMh2PEjw/rs:fit:1200:1200:1/g:ce/aHR0cHM6Ly9pLnBp/bmltZy5jb20vb3Jp/Z2luYWxzL2QyL2E3/LzA2L2QyYTcwNjk3/Y2VmYmE1ZWE0ODY4/MjZkNDZhMjQ5OTI3/LmpwZw" alt=" slide"></a>
        </div>
        <div class="carousel-item">
    <a class="col-xl-4 titleGothic" asp-controller="Home" asp-action="Search"><img class="d-block w-100" src="..." alt="First slide"></a>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-4">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <a class="col-xl-4 titleGothic" asp-controller="Home" asp-action="Search"><img class="d-block w-100" src="https://imgs.search.brave.com/xl4NjI9B7x3Qw5R0SyT_wxCog2VOB5MGj_o9K-Uj1Xg/rs:fit:612:612:1/g:ce/aHR0cHM6Ly9tZWRp/YS5pc3RvY2twaG90/by5jb20vdmVjdG9y/cy9vY2N1bHQtc25h/a2UtcG9zdGVyLXZl/Y3Rvci1pZDExNjM1/MjA3OTk_az02Jm09/MTE2MzUyMDc5OSZz/PTYxMng2MTImdz0w/Jmg9TWR5SmpkaFVl/bFlhbVQ4SkpwVWpr/S2NqMW5td2VDbnFf/UTNsckFTSHNtaz0" alt="First slide"></a>
        </div>
        <div class="carousel-item">
          <a class="col-xl-4 titleGothic" asp-controller="Home" asp-action="Search"><img class="d-block w-100" src="https://imgs.search.brave.com/Fev-Jt00jX9DawiM1Xr13n2QXW7CfJQIscTVMh2PEjw/rs:fit:1200:1200:1/g:ce/aHR0cHM6Ly9pLnBp/bmltZy5jb20vb3Jp/Z2luYWxzL2QyL2E3/LzA2L2QyYTcwNjk3/Y2VmYmE1ZWE0ODY4/MjZkNDZhMjQ5OTI3/LmpwZw" alt=" slide"></a>
        </div>
        <div class="carousel-item">

    <a class="col-sm-4 titleGothic" asp-controller="Home" asp-action="Search"><img class="d-block w-100" src="..." alt="First slide"></a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <a class="col-xl-4 titleGothic" asp-controller="Home" asp-action="Search"><img class="d-block w-100" src="https://imgs.search.brave.com/xl4NjI9B7x3Qw5R0SyT_wxCog2VOB5MGj_o9K-Uj1Xg/rs:fit:612:612:1/g:ce/aHR0cHM6Ly9tZWRp/YS5pc3RvY2twaG90/by5jb20vdmVjdG9y/cy9vY2N1bHQtc25h/a2UtcG9zdGVyLXZl/Y3Rvci1pZDExNjM1/MjA3OTk_az02Jm09/MTE2MzUyMDc5OSZz/PTYxMng2MTImdz0w/Jmg9TWR5SmpkaFVl/bFlhbVQ4SkpwVWpr/S2NqMW5td2VDbnFf/UTNsckFTSHNtaz0" alt="First slide"></a>
        </div>
        <div class="carousel-item">
          <a class="col-xl-4 titleGothic" asp-controller="Home" asp-action="Search"><img class="d-block w-100" src="https://imgs.search.brave.com/Fev-Jt00jX9DawiM1Xr13n2QXW7CfJQIscTVMh2PEjw/rs:fit:1200:1200:1/g:ce/aHR0cHM6Ly9pLnBp/bmltZy5jb20vb3Jp/Z2luYWxzL2QyL2E3/LzA2L2QyYTcwNjk3/Y2VmYmE1ZWE0ODY4/MjZkNDZhMjQ5OTI3/LmpwZw" alt=" slide"></a>
        </div>
        <div class="carousel-item">
    <a class="col-sm-4 titleGothic" asp-controller="Home" asp-action="Search"><img class="d-block w-100" src="..." alt="First slide"></a>
        </div>
      </div>
    </div>
  </div>
</div>
</div>