@model Venta
<h1 class="h1">
    Insertar valores:
</h1>
<div class='container'>
<form asp-action="Create" enctype="multipart/form-data">
<label>Cliente ID</label>
<select class="form-select" aria-label="SELECT CLIENTE ID">
<option selected>Producto ID</option>
@foreach (var v in (@List<Cliente>)ViewBag.Cliente){
<option value="v.Id">@v.Nombre</option>
}
<!--
  <option selected>Cliente ID</option>
  <option value="1">One</option>
  <option value="2">Two</option>
  <option value="3">Three</option>
  -->
</select>
<label>Producto ID</label>
<select class="form-select" aria-label="SELECT PRODUCTO ID">
  <option selected>Producto ID</option>
@foreach (var v in (List<Producto>)ViewBag.Producto){
<option value="@v.Id">@v.Descripcion</option>
}
</select>
  
  <!--
  <div class="form-group">
    <label for="ClienteId">ClienteId:</label>
    <input asp-for="ClienteId" type="text" required class="form-control" id="ClienteId" aria-describedby="ClienteId" placeholder="coloque su ClienteId">
    <small id="dClienteId" class="form-text">como 200 pesos</small>
  </div>
  <div class="form-group">
    <label for="ProductoId">ProductoId:</label>
    <input asp-for="ProductoId" type="text" required class="form-control" id="Id" aria-describedby="ProductoId" placeholder="coloque su ProductoId">
    <small id="dProductoId" class="form-text">ProductoId como 50 en existencia</small>
  </div>-->
    <div class="form-group">
    <label for="Fecha">Fecha:</label>
    <input asp-for="Fecha" type="date" required class="form-control" id="Id" aria-describedby="Fecha" placeholder="coloque su Fecha">
    <small id="dFecha" class="form-text">Fecha como 50 en existencia</small>
  </div>
  <button type="submit" class="btn btn-primary">Hecho</button>
  <a role='button' class="btn btn-warning" asp-action="Index">Cancelar</a>
</form>
</div>
<!--<a asp-action="Index">Cancelar</a>-->

